In [3]:
import pandas as pd

In [4]:
df_admin = pd.read_excel('NZ_Admin_JOBS.xlsx', header = None)

In [5]:
df_admin.head()

,0,1,2,3,4,5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [6]:
df_admin[['location', 'area']] = df_admin[3].str.split('area:', n = 1, expand = True)

In [7]:
df_admin.head()

,0,1,2,3,4,5,location,area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,location: Bay of PlentyBay of Plenty,TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,location: Bay of PlentyBay of Plenty,TaurangaTauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,location: AucklandAuckland,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,location: SouthlandSouthland,InvercargillInvercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,location: CanterburyCanterbury,ChristchurchChristchurch

In [8]:
df_admin['location'] = df_admin['location'].apply(lambda x:x[9:])

In [9]:
df_admin['location'].isna().sum()

0

In [10]:
df_admin['area'].isna().sum()

541

In [11]:
def deduplication(x):
    mid = len(x)//2
    if x!='unknown':
        return x[:mid + 1]
    else:
        return 'unknown'

In [12]:
def deduplication_better(x):
    trim = x.strip()
    index = (trim + trim).find(trim,1)
    if index != -1:
        return trim[:index]
    else:
        return 'unknown'

In [13]:
df_admin['location'] = df_admin['location'].apply(deduplication_better)

In [14]:
df_admin.head()

,0,1,2,3,4,5,location,area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,Bay of Plenty,TaurangaTauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,Auckland,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,Southland,InvercargillInvercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,ChristchurchChristchurch

In [15]:
df_admin['area'].fillna('unknown', inplace = True)

In [16]:
df_admin['area'] = df_admin['area'].str.split(',', expand = True)[0]

In [17]:
df_admin['area'] = df_admin['area'].apply(deduplication)

In [18]:
df_admin.drop(3, axis =1, inplace = True)

In [19]:
df_admin.head()

,0,1,2,4,5,location,area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,"Featured,at",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,"4d ago,at",classification: Administration & Office Suppor...,Auckland,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,"1h ago,at",classification: Administration & Office Suppor...,Southland,Invercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch

In [20]:
df_admin[['subclassification', 'Classification']] = df_admin[5].str.split('subClassification:', expand = True)

In [21]:
df_admin.head()

,0,1,2,4,5,location,area,subclassification,Classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Office ManagementOffice Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,"Featured,at",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,ReceptionistsReceptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,"4d ago,at",classification: Administration & Office Suppor...,Auckland,unknown,classification: Administration & Office Suppor...,OtherOther
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,"1h ago,at",classification: Administration & Office Suppor...,Southland,Invercargill,classification: Administration & Office Suppor...,Administrative AssistantsAdministrative Assis...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch,classification: Administration & Office Suppor...,Client & Sales AdministrationClient & Sales A...

In [22]:
df_admin.drop(5, axis = 1, inplace = True)

In [23]:
df_admin.head()

,0,1,2,4,location,area,subclassification,Classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,"Featured,at,Private Advertiser",Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Office ManagementOffice Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,"Featured,at",Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,ReceptionistsReceptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,"4d ago,at",Auckland,unknown,classification: Administration & Office Suppor...,OtherOther
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,"1h ago,at",Southland,Invercargill,classification: Administration & Office Suppor...,Administrative AssistantsAdministrative Assis...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,"4d ago,at,Private Advertiser",Canterbury,Christchurch,classification: Administration & Office Suppor...,Client & Sales AdministrationClient & Sales A...

In [24]:
df_admin['Classification'].fillna('unknown', inplace = True)

In [25]:
df_admin['Classification'] = df_admin['Classification'].apply(deduplication)

In [26]:
df_admin[['posted time', 'featured at']] = df_admin[4].str.split(',', expand = True)[[0, 2]]

In [27]:
df_admin.drop(4, axis = 1, inplace = True)

In [28]:
df_admin['featured at'].fillna('unknown', inplace = True)

In [29]:
df_admin

,0,1,2,location,area,subclassification,Classification,posted time,featured at
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Office Management,Featured,Private Advertiser
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Receptionists,Featured,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,classification: Administration & Office Suppor...,Other,4d ago,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,classification: Administration & Office Suppor...,Administrative Assistants,1h ago,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,Canterbury,Christchurch,classification: Administration & Office Suppor...,Client & Sales Administration,4d ago,Private Advertiser
...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,Auckland,Auckland Central,classification: Administration & Office Suppor...,Client & Sales Administration,27d ago,unknown
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,Wellington,Wellington Central,Competitive hourly rate,unknown,27d ago,unknown
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,Competitive hourly rates $$,unknown,20d ago,unknown
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,Competitive hourly rates $$,unknown,28d ago,unknown
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,Wellington,unknown,classification: Administration & Office Suppor...,"PA, EA & Secretarial",26d ago,unknown

In [30]:
def apply_salary(x):
    if 'classification:' in x:
        return 'unknown'
    else:
        return x

In [31]:
df_admin['salary'] = df_admin['subclassification'].apply(apply_salary)

In [32]:
df_admin

,0,1,2,location,area,subclassification,Classification,posted time,featured at,salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Office Management,Featured,Private Advertiser,unknown
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,classification: Administration & Office Suppor...,Receptionists,Featured,unknown,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,classification: Administration & Office Suppor...,Other,4d ago,unknown,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,classification: Administration & Office Suppor...,Administrative Assistants,1h ago,unknown,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,Canterbury,Christchurch,classification: Administration & Office Suppor...,Client & Sales Administration,4d ago,Private Advertiser,unknown
...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,Auckland,Auckland Central,classification: Administration & Office Suppor...,Client & Sales Administration,27d ago,unknown,unknown
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,Wellington,Wellington Central,Competitive hourly rate,unknown,27d ago,unknown,Competitive hourly rate
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,Competitive hourly rates $$,unknown,20d ago,unknown,Competitive hourly rates $$
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,Competitive hourly rates $$,unknown,28d ago,unknown,Competitive hourly rates $$
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,Wellington,unknown,classification: Administration & Office Suppor...,"PA, EA & Secretarial",26d ago,unknown,unknown

In [33]:
def apply_classification(x):
    if 'classification:' in x:
        return x[15:]
    else:
        return 'unknown'

In [34]:
df_admin['subclassification'] = df_admin ['subclassification'].apply(apply_classification)

In [35]:
df_admin.rename (columns = {0:'Job Title', 1:'from website', 2:'company name'}, inplace = True)

In [36]:
df_admin.head()

,Job Title,from website,company name,location,area,subclassification,Classification,posted time,featured at,salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of Plenty,Tauranga,Administration & Office SupportAdministration...,Office Management,Featured,Private Advertiser,unknown
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Administration & Office SupportAdministration...,Receptionists,Featured,unknown,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Administration & Office SupportAdministration...,Other,4d ago,unknown,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administration & Office SupportAdministration...,Administrative Assistants,1h ago,unknown,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,Canterbury,Christchurch,Administration & Office SupportAdministration...,Client & Sales Administration,4d ago,Private Advertiser,unknown

In [37]:
df_admin[['classification1', 'classification2', 'classification3']] = df_admin['subclassification'].str.split('&', expand = True).fillna('unknown')

In [38]:
df_admin.drop('subclassification', axis = 1, inplace = True)

In [39]:
df_admin.head()

,Job Title,from website,company name,location,area,Classification,posted time,featured at,salary,classification1,classification2,classification3
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of Plenty,Tauranga,Office Management,Featured,Private Advertiser,unknown,Administration,Office SupportAdministration,Office Support
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Receptionists,Featured,unknown,unknown,Administration,Office SupportAdministration,Office Support
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Other,4d ago,unknown,unknown,Administration,Office SupportAdministration,Office Support
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administrative Assistants,1h ago,unknown,unknown,Administration,Office SupportAdministration,Office Support
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,Canterbury,Christchurch,Client & Sales Administration,4d ago,Private Advertiser,unknown,Administration,Office SupportAdministration,Office Support

In [40]:
df_admin.loc[df_admin['company name'].isna(), 'company name'] = df_admin['featured at'] #isna equals == None

In [41]:
df_admin.drop('featured at', axis = 1, inplace = True)

In [42]:
df_admin.head()

,Job Title,from website,company name,location,area,Classification,posted time,salary,classification1,classification2,classification3
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of Plenty,Tauranga,Office Management,Featured,unknown,Administration,Office SupportAdministration,Office Support
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Receptionists,Featured,unknown,Administration,Office SupportAdministration,Office Support
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Other,4d ago,unknown,Administration,Office SupportAdministration,Office Support
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administrative Assistants,1h ago,unknown,Administration,Office SupportAdministration,Office Support
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,Canterbury,Christchurch,Client & Sales Administration,4d ago,unknown,Administration,Office SupportAdministration,Office Support

In [43]:
df_admin['posted time'] = df_admin['posted time'].str.extract('(\d+[a-z])')

In [44]:
df_admin['posted time']

0       NaN
1       NaN
2        4d
3        1h
4        4d
       ...
2703    27d
2704    27d
2705    20d
2706    28d
2707    26d
Name: posted time, Length: 2708, dtype: object

In [45]:
df_admin['posted time'].fillna('unknown', inplace = True)

In [46]:
df_admin['posted time'] = df_admin['posted time'].astype('string')

In [47]:
def apply_posted_time(x):
    if 'd' in x:
        return -int(x[:-1])
    elif 'm' in x:
        return -(int(x[:-1])*30)
    else:
        return 0

In [48]:
df_admin['posted time'] = df_admin['posted time'].apply(apply_posted_time)

In [49]:
df_admin.head()

,Job Title,from website,company name,location,area,Classification,posted time,salary,classification1,classification2,classification3
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of Plenty,Tauranga,Office Management,0,unknown,Administration,Office SupportAdministration,Office Support
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Receptionists,0,unknown,Administration,Office SupportAdministration,Office Support
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Other,-4,unknown,Administration,Office SupportAdministration,Office Support
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administrative Assistants,0,unknown,Administration,Office SupportAdministration,Office Support
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,Canterbury,Christchurch,Client & Sales Administration,-4,unknown,Administration,Office SupportAdministration,Office Support

In [50]:
df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary']

12                           $20 per hour
17                  $20 - $24.99 per hour
23                    $19 to $22 per hour
25                  $20 - $24.99 per hour
36                  $20 - $24.99 per hour
                      ...
683     $35 - $40 p.h. + + 8% Holiday Pay
695                             Circa 50k
1936     $24 - $28 p.h.  + 8% Holiday Pay
1937    $35 - $40 p.h. + + 8% Holiday Pay
1949                            Circa 50k
Name: salary, Length: 96, dtype: object

In [51]:
df_admin[df_admin['salary'].str.contains('\dk', na = False)]['salary']

306                                      $75k - $85k p.a.
442                    $60k-$70k depending on experience!
473     $60 - $65k + Career Progression to QS / leader...
644                     $50k - $65k p.a. + plus kiwisaver
650                                        $70-$80k+Super
663                                     $70-75k per annum
695                                             Circa 50k
1949                                            Circa 50k
Name: salary, dtype: object

In [52]:
df_admin['salary'] = df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary'].str.replace('to', '-', regex = True)

In [53]:
df_admin[df_admin['salary'].str.contains('\d\%', na = False)]['salary'].head(100)

201                        8% holiday pay
311           $24 - $25 + 8% holiday pay!
384       $30 - $38 p.h. + 8% Holiday Pay
403      Up - $23 p.h. + + 8% Holiday Pay
458       $27 - $33 p.h. + 8% holiday pay
503        Up - $27 p.h. + 8% Holiday Pay
536       $21 - $25 p.h. + 8% Holiday Pay
578        Up - $35 p.h. + 8% Holiday Pay
579       $21 - $22 p.h. + 8% Holiday Pay
682      $24 - $28 p.h.  + 8% Holiday Pay
683     $35 - $40 p.h. + + 8% Holiday Pay
1936     $24 - $28 p.h.  + 8% Holiday Pay
1937    $35 - $40 p.h. + + 8% Holiday Pay
Name: salary, dtype: object

In [54]:
df_admin[df_admin['salary'].str.contains('\dk', na = False)]['salary']

306                                      $75k - $85k p.a.
442                    $60k-$70k depending on experience!
473     $60 - $65k + Career Progression - QS / leadership
644                     $50k - $65k p.a. + plus kiwisaver
650                                        $70-$80k+Super
663                                     $70-75k per annum
695                                             Circa 50k
1949                                            Circa 50k
Name: salary, dtype: object

In [55]:
df_admin['salary'] = df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary'].str.replace('\d\%', '', regex = True)

In [56]:
df_admin['salary'] = df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary'].str.replace(',', '', regex = True)

In [57]:
df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary'].head(100)

12                         $20 per hour
17                $20 - $24.99 per hour
23                   $19 - $22 per hour
25                $20 - $24.99 per hour
36                $20 - $24.99 per hour
                     ...
683     $35 - $40 p.h. + +  Holiday Pay
695                           Circa 50k
1936     $24 - $28 p.h.  +  Holiday Pay
1937    $35 - $40 p.h. + +  Holiday Pay
1949                          Circa 50k
Name: salary, Length: 95, dtype: object

In [58]:
df_admin['salary'].fillna('unknown')

0       unknown
1       unknown
2       unknown
3       unknown
4       unknown
         ...
2703    unknown
2704    unknown
2705    unknown
2706    unknown
2707    unknown
Name: salary, Length: 2708, dtype: object

In [59]:
df_admin[df_admin['salary'].str.contains('\d', na = False)]['salary'].head(100)

12                         $20 per hour
17                $20 - $24.99 per hour
23                   $19 - $22 per hour
25                $20 - $24.99 per hour
36                $20 - $24.99 per hour
                     ...
683     $35 - $40 p.h. + +  Holiday Pay
695                           Circa 50k
1936     $24 - $28 p.h.  +  Holiday Pay
1937    $35 - $40 p.h. + +  Holiday Pay
1949                          Circa 50k
Name: salary, Length: 95, dtype: object

In [60]:
df_admin['salary'].head(50)

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12             $20 per hour
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17    $20 - $24.99 per hour
18                      NaN
19                      NaN
20                      NaN
21                      NaN
22                      NaN
23       $19 - $22 per hour
24                      NaN
25    $20 - $24.99 per hour
26                      NaN
27                      NaN
28                      NaN
29                      NaN
30                      NaN
31                      NaN
32                      NaN
33                      NaN
34                      NaN
35                      NaN
36    $20 - $24.99 per hour
37                      NaN
38                      NaN
39                      NaN
40                      NaN
41                      NaN
42          $40000 - $49999
43                      NaN
44                      NaN
45                      NaN
46                      NaN
47                      NaN
48             $25 per hour
49                      NaN
Name: salary, dtype: object

In [61]:
df_admin[['low_salary', 'high_salary']] = df_admin['salary'].str.split('-', n = 1, expand = True).fillna('unknown')

In [62]:
df_admin[df_admin['high_salary'].str.contains('\d', na = False)]['high_salary'].head(100)

17                      $24.99 per hour
23                         $22 per hour
25                      $24.99 per hour
36                      $24.99 per hour
42                               $49999
                     ...
679      $55000 depending on experience
682            $28 p.h.  +  Holiday Pay
683           $40 p.h. + +  Holiday Pay
1936           $28 p.h.  +  Holiday Pay
1937          $40 p.h. + +  Holiday Pay
Name: high_salary, Length: 83, dtype: object

In [63]:
df_admin[df_admin['salary'].str.contains('\d', na = False)][['salary', 'high_salary', 'low_salary']]

,salary,high_salary,low_salary
12,$20 per hour,unknown,$20 per hour
17,$20 - $24.99 per hour,$24.99 per hour,$20
23,$19 - $22 per hour,$22 per hour,$19
25,$20 - $24.99 per hour,$24.99 per hour,$20
36,$20 - $24.99 per hour,$24.99 per hour,$20
...,...,...,...
683,$35 - $40 p.h. + + Holiday Pay,$40 p.h. + + Holiday Pay,$35
695,Circa 50k,unknown,Circa 50k
1936,$24 - $28 p.h. + Holiday Pay,$28 p.h. + Holiday Pay,$24
1937,$35 - $40 p.h. + + Holiday Pay,$40 p.h. + + Holiday Pay,$35
1949,Circa 50k,unknown,Circa 50k

In [64]:
df_admin['low_salary'] = df_admin['low_salary'].str.extract('(\d+\.\d+|\d+k|\d+)')

In [65]:
df_admin[df_admin['low_salary'].str.contains('\d', na = False)]['low_salary'].head(100)

12       20
17       20
23       19
25       20
36       20
       ...
683      35
695     50k
1936     24
1937     35
1949    50k
Name: low_salary, Length: 90, dtype: object

In [66]:
df_admin['low_salary'] = df_admin[df_admin['low_salary'].str.contains('\d', na = False)]['low_salary'].str.replace('k', '000', regex = True)

In [67]:
pd.set_option('display.max_rows', 500)
df_admin[df_admin['low_salary'].str.contains('\d', na = False)]['low_salary'].head(100)

12         20
17         20
23         19
25         20
36         20
42      40000
48         25
58         60
59      20.00
66         20
75      55000
77      20.00
78         20
81         21
82      55000
89      50000
97      45000
103     55000
112        20
114        20
123     48835
134        20
148        24
165     50000
171        20
173        20
191        20
212     55000
214     40000
219     45000
231        25
247        20
264     45000
277        22
278     75000
282        20
306     75000
311        24
318     40000
319     50000
346     55000
349        20
379        20
384        30
393        45
398     50000
430     69726
442     60000
444     22.00
455     40000
458        27
459        60
464        19
473        60
478        35
482     55000
494        20
517        20
530        19
532     60000
533     40000
536        21
546     60000
550        21
558     50000
560        40
569     18.50
575      25.5
579        21
582        25
590        25
612     50000
625     50000
629        25
632     50000
633        20
641     48000
644     50000
650        70
653        20
656     45000
660     55000
663        70
679     45000
682        24
683        35
695     50000
1936       24
1937       35
1949    50000
Name: low_salary, dtype: object

In [71]:
df_admin['salary'].fillna("unknown")
df_admin[['min_salary', 'max_salary']] = df_admin['salary'].str.split('-', n = 1, expand =True)

In [72]:
df_admin[df_admin["salary"].str.contains('\d', na = False)][['salary', 'min_salary', 'max_salary']]

,salary,min_salary,max_salary
12,$20 per hour,$20 per hour,None
17,$20 - $24.99 per hour,$20,$24.99 per hour
23,$19 - $22 per hour,$19,$22 per hour
25,$20 - $24.99 per hour,$20,$24.99 per hour
36,$20 - $24.99 per hour,$20,$24.99 per hour
42,$40000 - $49999,$40000,$49999
48,$25 per hour,$25 per hour,None
58,$60 000 - $70 000 per annum,$60 000,$70 000 per annum
59,$20.00 per hour,$20.00 per hour,None
66,$20 - $24.99 per hour,$20,$24.99 per hour
75,$55000 - $69999,$55000,$69999
77,$20.00 per hour.,$20.00 per hour.,None
78,$20 - $24.99 per hour,$20,$24.99 per hour
81,$21 per hour,$21 per hour,None
82,$55000 - $64999,$55000,$64999
89,$50000 - $55000 plus benefits,$50000,$55000 plus benefits
97,$45000 - $49999,$45000,$49999
103,$55000 - $60000 per annum pro rata,$55000,$60000 per annum pro rata
112,$20 - $24.99 per hour,$20,$24.99 per hour
114,$20 - $24.99 per hour,$20,$24.99 per hour
123,$48835 - $63221,$48835,$63221
134,$20 - $29.99 per hour,$20,$29.99 per hour
148,$24-$28,$24,$28
156,Up - $27ph,Up,$27ph
165,$50000 - $55000 plus benefits,$50000,$55000 plus benefits
171,$20 - $29.99 per hour,$20,$29.99 per hour
173,$20 - $29.99 per hour,$20,$29.99 per hour
191,$20 - $24.99 per hour,$20,$24.99 per hour
212,$55000 - $64999,$55000,$64999
214,$40000 - $49999,$40000,$49999
219,$45000 - $59999,$45000,$59999
231,NZD25 - NZD28 per hour,NZD25,NZD28 per hour
247,$20 - $24.99 per hour,$20,$24.99 per hour
264,$45000 - $49999,$45000,$49999
277,$22 per hour,$22 per hour,None
278,NZD75000 per annum,NZD75000 per annum,None
282,$20 - $24.99 per hour,$20,$24.99 per hour
306,$75k - $85k p.a.,$75k,$85k p.a.
311,$24 - $25 + holiday pay!,$24,$25 + holiday pay!
318,$40000 - $49999,$40000,$49999
319,$50000 per annum.,$50000 per annum.,None
346,$55000 - $64999,$55000,$64999
349,$20 - $25 per hour,$20,$25 per hour
379,$20 - $24.99 per hour,$20,$24.99 per hour
384,$30 - $38 p.h. + Holiday Pay,$30,$38 p.h. + Holiday Pay
393,$45-$55000,$45,$55000
398,$50000 - $54999,$50000,$54999
403,Up - $23 p.h. + + Holiday Pay,Up,$23 p.h. + + Holiday Pay
405,Up - $22.00 p.h.,Up,$22.00 p.h.
430,NZD69726-94127p.a.+Retirement contributions,NZD69726,94127p.a.+Retirement contributions
442,$60k-$70k depending on experience!,$60k,$70k depending on experience!
444,$22.00 - $23.00 phr,$22.00,$23.00 phr
455,$40000 - $49999,$40000,$49999
458,$27 - $33 p.h. + holiday pay,$27,$33 p.h. + holiday pay
459,$60K - $80K experience dependent,$60K,$80K experience dependent
464,$19 - $22 per hour,$19,$22 per hour
473,$60 - $65k + Career Progression - QS / leadership,$60,$65k + Career Progression - QS / leadership
478,$35 - $39.99 per hour,$35,$39.99 per hour
482,$55000 - $64999,$55000,$64999
494,$20 - $24.99 per hour dependent on experience.,$20,$24.99 per hour dependent on experience.
503,Up - $27 p.h. + Holiday Pay,Up,$27 p.h. + Holiday Pay
517,$20 - $24.99 per hour,$20,$24.99 per hour
530,NZD19 - NZD23 per hour,NZD19,NZD23 per hour
532,$60000 pa,$60000 pa,None
533,$40000 - $49999,$40000,$49999
536,$21 - $25 p.h. + Holiday Pay,$21,$25 p.h. + Holiday Pay
546,$60000 - $69999,$60000,$69999
550,$21-$23 per hour,$21,$23 per hour
558,$50000 - $59999,$50000,$59999
560,$40 - $45 per hour,$40,$45 per hour
569,$18.50 - $23.50 per hour,$18.50,$23.50 per hour
575,$25.5,$25.5,None
578,Up - $35 p.h. + Holiday Pay,Up,$35 p.h. + Holiday Pay
579,$21 - $22 p.h. + Holiday Pay,$21,$22 p.h. + Holiday Pay
582,NZD25 - NZD30 per hour,NZD25,NZD30 per hour
590,$25 - $29.99 per hour,$25,$29.99 per hour
612,$50000 - $69999,$50000,$69999
625,$50000 - $59999,$50000,$59999
629,$25 - $29.99 per hour,$25,$29.99 per hour
632,$50000 - $64999,$50000,$64999
633,$20 - $40 per hour,$20,$40 per hour
641,$48000 - $55000,$48000,$55000
644,$50k - $65k p.a. + plus kiwisaver,$50k,$65k p.a. + plus kiwisaver
650,$70-$80k+Super,$70,$80k+Super
653,$20 - $30 per hour,$20,$30 per hour
656,$45000 - $54999,$45000,$54999
660,$55000 - $65000 depending on relevant experience,$55000,$65000 depending on relevant experience
663,$70-75k per annum,$70,75k per annum
679,$45000 - $55000 depending on experience,$45000,$55000 depending on experience
682,$24 - $28 p.h. + Holiday Pay,$24,$28 p.h. + Holiday Pay
683,$35 - $40 p.h. + + Holiday Pay,$35,$40 p.h. + + Holiday Pay
695,Circa 50k,Circa 50k,None
1936,$24 - $28 p.h. + Holiday Pay,$24,$28 p.h. + Holiday Pay
1937,$35 - $40 p.h. + + Holiday Pay,$35,$40 p.h. + + Holiday Pay
1949,Circa 50k,Circa 50k,None

In [73]:
df_admin['min_salary'] = df_admin['min_salary'].fillna('unknown')
df_admin['max_salary'] = df_admin['max_salary'].fillna('unknown')

In [77]:
df_admin.loc[df_admin['min_salary'] == 'unknown', 'min_salary'] = df_admin['max_salary']

In [78]:
df_admin.loc[df_admin['max_salary'] == 'unknown', 'max_salary'] = df_admin['min_salary']

In [79]:
df_admin[df_admin["salary"].str.contains('\d', na = False)][['min_salary', 'max_salary']]

              min_salary                                    max_salary
12          $20 per hour                                  $20 per hour
17                  $20                                $24.99 per hour
23                  $19                                   $22 per hour
25                  $20                                $24.99 per hour
36                  $20                                $24.99 per hour
42               $40000                                         $49999
48          $25 per hour                                  $25 per hour
58              $60 000                              $70 000 per annum
59       $20.00 per hour                               $20.00 per hour
66                  $20                                $24.99 per hour
75               $55000                                         $69999
77      $20.00 per hour.                              $20.00 per hour.
78                  $20                                $24.99 per hour
81          $21 per hour                                  $21 per hour
82               $55000                                         $64999
89               $50000                           $55000 plus benefits
97               $45000                                         $49999
103              $55000                      $60000 per annum pro rata
112                 $20                                $24.99 per hour
114                 $20                                $24.99 per hour
123              $48835                                         $63221
134                 $20                                $29.99 per hour
148                  $24                                           $28
156                  Up                                          $27ph
165              $50000                           $55000 plus benefits
171                 $20                                $29.99 per hour
173                 $20                                $29.99 per hour
191                 $20                                $24.99 per hour
212              $55000                                         $64999
214              $40000                                         $49999
219              $45000                                         $59999
231               NZD25                                 NZD28 per hour
247                 $20                                $24.99 per hour
264              $45000                                         $49999
277         $22 per hour                                  $22 per hour
278   NZD75000 per annum                            NZD75000 per annum
282                 $20                                $24.99 per hour
306                $75k                                      $85k p.a.
311                 $24                            $25 +  holiday pay!
318              $40000                                         $49999
319    $50000 per annum.                             $50000 per annum.
346              $55000                                         $64999
349                 $20                                   $25 per hour
379                 $20                                $24.99 per hour
384                 $30                        $38 p.h. +  Holiday Pay
393                  $45                                        $55000
398              $50000                                         $54999
403                  Up                      $23 p.h. + +  Holiday Pay
405                  Up                                    $22.00 p.h.
430             NZD69726            94127p.a.+Retirement contributions
442                 $60k                 $70k depending on experience!
444              $22.00                                     $23.00 phr
455              $40000                                         $49999
458                 $27                        $33 p.h. +  holiday pay
459                $60K                      $80K experience dependent
464                 $19                                   $22 per hour
473                 $60    $65k + Career Progression - QS / leadership
478                 $35                                $39.99 per hour
482              $55000                                         $64999
494                 $20       $24.99 per hour dependent on experience.
503                  Up                        $27 p.h. +  Holiday Pay
517                 $20                                $24.99 per hour
530               NZD19                                 NZD23 per hour
532            $60000 pa                                     $60000 pa
533              $40000                                         $49999
536                 $21                        $25 p.h. +  Holiday Pay
546              $60000                                         $69999
550                  $21                                  $23 per hour
558              $50000                                         $59999
560                 $40                                   $45 per hour
569              $18.50                                $23.50 per hour
575                $25.5                                         $25.5
578                  Up                        $35 p.h. +  Holiday Pay
579                 $21                        $22 p.h. +  Holiday Pay
582               NZD25                                 NZD30 per hour
590                 $25                                $29.99 per hour
612              $50000                                         $69999
625              $50000                                         $59999
629                 $25                                $29.99 per hour
632              $50000                                         $64999
633                 $20                                   $40 per hour
641              $48000                                         $55000
644                $50k                     $65k p.a. + plus kiwisaver
650                  $70                                    $80k+Super
653                 $20                                   $30 per hour
656              $45000                                         $54999
660              $55000        $65000 depending on relevant experience
663                  $70                                 75k per annum
679              $45000                 $55000 depending on experience
682                 $24                       $28 p.h.  +  Holiday Pay
683                 $35                      $40 p.h. + +  Holiday Pay
695            Circa 50k                                     Circa 50k
1936                $24                       $28 p.h.  +  Holiday Pay
1937                $35                      $40 p.h. + +  Holiday Pay
1949           Circa 50k                                     Circa 50k

In [80]:
df_admin['min_salary'].dtype

dtype('O')

In [81]:
df_admin['min_salary'] = df_admin['min_salary'].astype('int32')
df_admin['max_salary'] = df_admin['max_salary'].astype('int32')

ValueError: invalid literal for int() with base 10: 'unknown'

In [82]:
df_admin.loc[df_admin['min_salary'] < 50, 'min_salary'] = df_admin['min_salary'] * 8 * 200
df_admin.loc[df_admin['max_salary'] < 50, 'max_salary'] = df_admin['max_salary'] * 8 * 200

TypeError: '<' not supported between instances of 'str' and 'int'

In [83]:
df_admin.drop(['salary'], axis = 1)

,Job Title,from website,company name,location,area,Classification,posted time,classification1,classification2,classification3,low_salary,high_salary,min_salry,max_salary,min_salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,Bay of Plenty,Tauranga,Office Management,0,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of Plenty,Tauranga,Receptionists,0,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,Auckland,unknown,Other,-4,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,Southland,Invercargill,Administrative Assistants,0,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,Canterbury,Christchurch,Client & Sales Administration,-4,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,Auckland,Auckland Central,Client & Sales Administration,-27,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,Wellington,Wellington Central,unknown,-27,unknown,unknown,unknown,NaN,unknown,NaN,unknown,unknown
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,unknown,-20,unknown,unknown,unknown,NaN,unknown,NaN,unknown,unknown
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,Waikato,Hamilton,unknown,-28,unknown,unknown,unknown,NaN,unknown,NaN,unknown,unknown
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,Wellington,unknown,"PA, EA & Secretarial",-26,Administration,Office SupportAdministration,Office Support,NaN,unknown,NaN,unknown,unknown

In [ ]:
def data_clean_transformation(Pandas dataframe):
    return dataframe